{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


    <div class="row justify-content-center">

        <div class="card col-6">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey }}</div>
            {% endif %}
            <div>
                <h1>{{ title }}</h1>
            </div>
            <div class="lead">{{ summary }}</div>
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="_username" id="email" class="form-control" value="{{ lastEmail }}">
                </div>
                <div class="form-group">
                    <label for="password">Email:</label>
                    <input type="password" name="_password" id="password" class="form-control">
                </div>
                <button class="btn btn-primary float-right">Login</button>
            </form>
        </div>
    </div>
{% endblock %}