{% extends "base.html.twig" %}

{% block title %}List Offers{% endblock %}

{% block body %}
    {% include 'Offers/partials/head.html.twig' %}

    {% for flash_message in app.session.flashbag.get('Success') %}
        <div class="alert alert-success" role="alert">{{ flash_message }}</div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('Error') %}
        <div class="alert alert-danger" role="alert">{{ flash_message }}</div>
    {% endfor %}

    {% if actions is not empty %}

        <div class="row">
            <div class="col-12">
                <div class="float-right">
                {% for action in actions %}
                    {% include 'Offers/partials/actions.html.twig' with {'type':action.type} %}
                {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

    {% if offers is not empty %}
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Email</th>
                    <th scope="col">Create Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                <tr>
                    <th scope="row">{{ offer.Id }}</th>
                    <td>{{ offer.Title }}</td>
                    <td>{{ offer.Email }}</td>
                    <td>{{ offer.CreateDate|date('F j') }}</td>
                    <td>
                        <div class="btn-group">
                            {% if offer.actions is not empty %}
                                {% for action in offer.actions %}
                                    {% include 'Offers/partials/actions.html.twig' with {'type':action.type} %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}
