{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <a href="/" class="btn btn-light"><i class="fas fa-angle-double-left"></i> Offers</a>
    </div>

    {% for flash_message in app.session.flashbag.get('SetError') %}
        <div class="alert alert-danger" role="alert">{{ flash_message }}</div>
    {% endfor %}

    {% include 'Offers/partials/head.html.twig' %}

    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
