{% extends "base.html.twig" %}

{% block title %}Offer #{{ offer.Id }} | {{ offer.Title }}{% endblock %}

{% block body %}

    <div class="row">
        <a href="/" class="btn btn-light"><i class="fas fa-angle-double-left"></i> Offers</a>
    </div>

    <div class="row">

        <div class="col-8">
            {% set vars = {
                'title':"Offer #" ~ offer.Id ~" | " ~ offer.Title,
                'summary':'Email: '~offer.Email~'. Created: '~offer.CreateDate
            }%}
            {% include 'Offers/partials/head.html.twig' with vars%}

            {% if offer.ImageURL is not empty %}
            <div>
                <img src="{{ asset('images/' ~ offer.ImageURL) }}" class="img-thumbnail" alt="Offer #{{ offer.Id }} | {{ offer.Title }}">
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No Image URL set!
            </div>
            {% endif %}
            <div>
                <p>{{ offer.Description }}</p>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Actions</h5>
                    {% if actions is not empty %}
                        {% for action in actions %}
                            {% include 'Offers/partials/actions.html.twig' with {'type':action.type} %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
