{% if type == 'remove' %}
    <a href="{{ action.url }}" class="btn btn-danger"><i class="fas fa-ban fa-xs"></i> {{ action.name }}</a>
{% elseif type == 'view' %}
    <a href="{{ action.url }}" class="btn btn-light"><i class="fas fa-search fa-xs"></i> {{ action.name }}</a>
{% elseif type == 'add' %}
    <a href="{{ action.url }}" class="btn btn-success"><i class="fas fa-plus fa-xs"></i> {{ action.name }}</a>
{% elseif type == 'edit' %}
    <a href="{{ action.url }}" class="btn btn-info"><i class="fas fa-edit fa-xs"></i> {{ action.name }}</a>
{% elseif type == 'submit' %}
    <a href="{{ action.url }}" class="btn btn-primary"><i class="fas fa-save fa-xs"></i> {{ action.name }}</a>
{% elseif type == 'default' %}
    <a href="{{ action.url }}" class="btn btn-default">{{ action.name }}</a>
{% else %}
    <a href="{{ action.url }}" class="btn btn-default">{{ action.name }}</a>
{% endif %}